{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% trans 'Welcome to Cerberus' %}</h1>
  <p>
    On this site you can sign in/up for all the applications hosted by
    <i>{{ site }}</i>
  </p>
  {% if user.is_authenticated %}
    <p>{% blocktrans %}Welcome {{ user.fulll_name}} {% endblocktrans %}</p>
  {% else %}
    <a href="#">{% trans 'Login' %}</a>
  {% endif %}
{% endblock%}